* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Circular Std;
    color: white;
}

body {
    font-family: Circular Std;
    background-color: #19191B;
    color: white;
    user-select: none;
    background-image: url(../img/Oval-1-3.png);
    background-repeat: no-repeat;
    background-position: -20px 600px;
}

ul,
ol {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
}

a {
    display: inline-block;
    text-decoration: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
    /* display: flex;
    justify-content: center; */
}

.nav {
    margin-top: 20px;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.nav-list {
    display: flex;
}

.nav-item {
    margin-right: 15px;
}

.nav-link:hover {
    color: #F04037
}

h1 {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.750316px;
}

.get {
    padding: 12px 8px;
    background-color: #F04037;
    border-radius: 5px;
}

.paragraph {
    font-weight: medium;
    color: rgba(255, 255, 255, 0.7);
    font-size: 21px;
    line-height: 39px;
}

.heading-2 {
    font-size: 76px;
    line-height: 80px;
    margin-bottom: 20px;
}

.s1 {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    align-items: center;
}

.section-1 {
    background-image: url(../img/Oval-1-2.png), url(../img/Oval-1.png);
    background-repeat: no-repeat;
    background-position: 860px 30px, 830px 0px;
    padding-bottom: 50px;
}

.content-1 {
    width: 560px;
}

.form-1 {
    width: 380px;
    color: #696871;
    background-color: #fff;
    border-radius: 10px;
    padding: 25px 30px;
}

legend {
    color: #696871;
}

input {
    color: #696871;
    border: none;
    font-size: 18px;
}

input {
    background-color: white;
    user-select: none;
    border: none;
}

fieldset {
    margin-bottom: 20px;
    padding: 23px;
    border-radius: 5px;
    border: 1px solid;
    border-color: #aaa9af;
}

select {
    color: #696871;
    border: none;
    font-size: 18px;
    width: 100%;
}

input,
select button:focus {
    outline: none;
}

.submit {
    /* width: 300px; */
    border: none;
    font-size: 18px;
    padding: 17px 92px;
}

.get:hover {
    background-color: #f1261c;
    transform: scale(0.95);
    cursor: pointer;
}

.section-2 {
    padding-top: 110px;
}

.center-h2 {
    width: 505px;
    font-size: 55px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.center-p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.video {
    margin-top: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 1140px !important;
    height: 680px;
    background-color: #fff;
    background-image: url(../img/BG-2.png);
    background-repeat: no-repeat;
    background-size: 1300px 800px;
    background-position: -60px -15px;
}

.play:hover {
    filter: contrast(150%)
}

.icon {
    width: 69px;
    height: 69px;
    margin-bottom: 20px;
}

.mini-p {
    margin-top: 13px;
    line-height: 28px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

h4 {
    font-size: 24px;
}

.feature-list {
    margin: 90px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 250px;
    margin: 60px;
}

hr {
    height: 1px;
    color: rgba(80, 79, 79, 0.37);
    border: none;
    border-top: 1px solid rgba(80, 79, 79, 0.287);
}